html, body{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    flex-basis: 400px;
    height: 1000px;
    width: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
    position: relative;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.menu{
    border-radius: 6px;
    border-color: #fff;
    margin: 3px;
    height: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bridgers.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.wrapper:hover::before {
    opacity: 0.5;
}